<div>
  <span>Current Player: </span>
  <span>{{bowlingGame.currentPlayer.name}}</span>
</div>
<div>
  <span>Current try: </span>
  <span>{{bowlingGame.currentTry}}</span>
</div>
<div>
    <span>Current frame: </span>
    <span>{{bowlingGame.currentFrame}}</span>
  </div>
<div>
    <div>
        <button type="button" (click)="rollBall()" [disabled]="bowlingGame.isGameOver()">Roll!</button>
    </div>
</div>
<div>
  fallen: {{fallen}}
</div>
<div>
  remain: {{bowlingGame.getRemainPins()}}
</div>
<div *ngIf="bowlingGame.isGameOver()">
  GAME OVER!!!
</div>